/* index.css */
html {
    background-color: rgb(200, 203, 207);
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(200, 203, 207);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.chat-container {
    background-color: white;
    border: 1px solid black;
    width: 600px;
    height: 400px;
    display: flex;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    gap: 10px;
    flex-direction: column;
    overflow-y: auto
}   

.chat-message.ai-chat-message {
    color: black;
    max-width: 80%;
    align-self: flex-start;
    padding-left: 10px;
}

.chat-message.user-message {
    color: red;
    max-width: 80%;
    align-self: flex-end;
    padding-right: 10px;
}

#chat-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-top: 10px;
}

#chat-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#user-input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

#chat-form button {
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

user-chat-message {

}

input-container {

}

user-input {

}

send-button {
    
}